* {
  padding: 0;
  margin: 0;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4c2828;
  gap: 10px;
}
button {
  color: rgb(195, 61, 61);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(195, 61, 61);
  box-shadow: 0 0 60px rgba(151, 223, 157, 0.996);
  color: white;
}
button:active {
  background-color: rgb(150, 45, 45);
  color: white;
}
button:active:focus {
  box-shadow: 0 0 10px rgba(190, 22, 22, 0.5);
}
button:active:hover {
  box-shadow: 0 0 20px rgba(151, 223, 157, 0.996);
}
button:disabled {
  background-color: rgb(137, 135, 135);
  color: white;
  cursor: not-allowed;
}
button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(190, 22, 22, 0.5);
}
